<div class="calendar">
  <div class="controls" CalendarControl (onChangeView)="setView($event)">
  </div>
  <div class="navigation" CalendarNav>
   
  </div>
  @if(view() !== 'year'){
  <div class="calendar-grid">
    @for( day of days(); track day){
    <div class="day">{{ format(day, "dd") }}</div>

    }
  </div>
  } @else if(view() === 'year'){
  <div class="year-grid">
    @for(week of weeks(); track week){
    <div>
      @for(day of week; track day){
      <div class="day">{{ format(day, "dd") }}</div>
      }
    </div>
    }
  </div>
  }
</div>
